#!/bin/bash
# This is the white list config of sshnotify.
# When login user is in white_user or login ip in white_ip, notification wouldn't send.

# Multi users and ips are split by blank.

# Example:
# white_user=(root test)
# white_ip=(192.168.77.1)


# None means everything would send notification.
# Example:
# white_user=(root)

white_user=(root test)
white_ip=(192.168.77.2)